/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

#row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#item-1{
    width: 49%;
}
#item-2{
    width: 49%;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 32px;
}

/* Page */
body {
    background: #f4f6f8;
    padding: 30px;
}

/* Navbar */
.navbar {
    background: #2c3e50;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 30px;
}

.navbar .logo {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #1abc9c;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Cards */
.card {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card h2 {
    margin-bottom: 15px;
    color: #2c3e50;
    font-size: 29px;
}

/* Select */
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

select:focus {
    outline: none;
    border-color: #1abc9c;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

thead {
    background: #2c3e50;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background: #f1f1f1;
}

/* Buttons */
.actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.btn.primary {
    background: #2c3e50;
    color: white;
}

.btn.primary:hover {
    background: #1abc9c;
}

.btn.danger {
    background: #e74c3c;
    color: white;
}

.btn.danger:hover {
    background: #c0392b;
}

/* Summary Section */
.summary-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 15px;
}

.summary label {
    font-size: 13px;
    color: #777;
}

.summary .value {
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #2c3e50;
}

input[type="date"] {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input[type="date"]:focus {
    outline: none;
    border-color: #1abc9c;
}

/* Place Order Button */
.place-order {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}
